@using Booben.Models;
@model Booben.Models.Home
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Booben - Scan internet in your interests</title>
</head>
<body>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <center>
            <table class="st" style="width: 700px" cellpadding="1" cellspacing="0">
                <tr>
                    <td>
                        @Html.Partial("Header")
                        <a href="../Registration">Registration</a>
                        <a href="../Login">Login</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Main idea
                    </td>
                </tr>
                <tr>
                    <td>
                        Infografic
                    </td>
                </tr>
                <tr>
                    <td>
                        Statistic
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- top rated items -->
                        <table border="0">
                            <tr>
                                <td>
                                    Top rated items
                                </td>
                            </tr>
                            @foreach (Item item in Model.TopItems)
                            {
                                <tr>
                                    <td>
                                        @Html.Partial("../Item/Item", item)
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- top rated robots -->
                        <table border="0">
                            <tr>
                                <td>
                                    Top rated robots
                                </td>
                            </tr>
                            @foreach (Robot item in Model.TopRobots)
                            {
                                <tr>
                                    <td>
                                        @Html.Partial("../Item/Robot", item)
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Partial("Footer")
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
