@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}

<table border="1">
    @foreach (var item in Model.Favourits)
    {
        if (item.Author.IsActive.Value)
        {
            <tr>
                <td align="right">
                    <a href="Main?op=deletefavourit&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@ViewBag.GroupName&robot=@ViewBag.RobotName&ondate=@item.Author.OnDate&key=@ViewBag.SecKey">Delete favourit</a>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Partial("Content/Item/Item", item)
                </td>
            </tr>
        }
    }
</table>