@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}

<table border="1">
    @foreach (var group in Model.Groups)
    {
        if (group.Author.IsActive.Value)
        {
            foreach (var robot in group.Robots)
            {
                if (robot.Author.IsActive.Value)
                {
                    <tr>
                        <td>
                            <table border="1">
                                <tr>
                                    <td align="left">
                                        @robot.Name
                                    </td>
                                    <td align="right">
                                        @if (!robot.Author.Likes.Any(x => x.Login == ViewBag.MyLogin))
                                        {
                                            <a href="Main?op=likeRobot&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&key=@ViewBag.SecKey">Like!<span>(+@robot.Author.Likes.Count)</span></a>
                                        }
                                        else
                                        {
                                            <div>Like!<span>(+@robot.Author.Likes.Count)</span></div>
                                        }
                                        <br /><a href="Robot?login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&key=@ViewBag.SecKey">Edit Robot</a>
                                        <br /><a href="Main?op=deleterobot&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&key=@ViewBag.SecKey">Delete robot</a>
                                        <br /><a href="Main?op=marksearchasread&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&key=@ViewBag.SecKey">Mark results as read</a>
                                        <br />
                                        <span>
                                            <a href="Main?op=setperiod&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&period=day&key=@ViewBag.SecKey">Day</a>
                                            <a href="Main?op=setperiod&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&period=week&key=@ViewBag.SecKey">Week</a>
                                            <a href="Main?op=setperiod&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&period=month&key=@ViewBag.SecKey">Month</a>
                                        </span>
                                    </td>
                                </tr>
                                @foreach (var item in robot.SearchItems((string)ViewBag.Login, (string)group.Name, true))
                                {
                                    <tr>
                                        <td></td>
                                        <td align="right">
                                            <a href="Main?op=addfavourit&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@group.Name&robot=@robot.Name&index=@item.Index&key=@ViewBag.SecKey">Add to favourits</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            @Html.Partial("Content/Item/Item", item)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        }
    }
    <tr>
        <td align="right">
            <a href="Main?op=marksearchasread&retop=@ViewBag.ReturnOperation&login=@Model.Login&key=@ViewBag.SecKey">Mark all results as read</a>
        </td>
    </tr>
</table>