@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}

<table border="1">
    <tr>
        <td colspan="5">
            Requested friends
        </td>
    </tr>
    <tr>
        <td>
            On Date
        </td>
        <td>
            Login
        </td>
        <td>
            Approve
        </td>
    </tr>
    @foreach (var friend in Model.GetRequestedFriends())
    {
        <tr>
            <td>
                @friend.OnDate
            </td>
            <td>
                @friend.Login
            </td>
            <td>
                <a href="Main?op=approvefriend&retop=@ViewBag.ReturnOperation&login=@Model.Login&friendlogin=@friend.Login&key=@ViewBag.SecKey">Approve</a>
            </td>
        </tr>
    }
</table>