@using (Html.BeginForm("SendComment", "Main", FormMethod.Post))
{
    <tr>
        <td>
            @Html.Partial("Context")
            <textarea id="comment" name="comment" rows="2"></textarea>
        </td>
    </tr>
        <tr>
            <td>
                <input class="st" id="register" name="btn" style="width: 200px" type="submit" value="Send"
                       tabindex="1" />
            </td>
        </tr>
}