@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>PikoNet - Информация</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .st
        {
            font-family: "Open Sans", Sans-Serif;
            font-weight: 400;
            font-size: 16px;
            width: 100%;
        }
    </style>
</head>
<body class="st">
    @ViewBag.Message
    <br /> <a href="."><< Назад</a>
</body>
</html>
