@model BigDocForum.Models.Article
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>BigDoc Forum</title>
</head>
<body>
    @using (Html.BeginForm("send", "NewArticle", FormMethod.Post))
    {
        <center>
            <table border="1" style="width:1000px;">
                <tr>
                    <td>
                        Author:    
                    </td>
                    <td>
                        <input type="text" name="author" style="width: 50%" value="@Model.Author" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Title:    
                    </td>
                    <td>
                        <input type="text" name="title" style="width: 50%" value="@Model.Title" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Text:    
                    </td>
                    <td>
                        <input type="text" name="text" style="width: 50%" value="@Model.Text" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align=right>
                        <input type="submit" name="btn" style="width: 50%" value="Добавить новую тему" />
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
