@Model Booben.Models.Group

<table border="1">
    <tr>
        <td>
            small pic
        </td>
        <td>
            @Model.Name (@Model.Author.Login)
        </td>
        <td>
            +@Model.Author.Likes.Count
        </td>
        <td>
            @if (!Model.Author.Likes.Any(x => x.Login == ViewBag.MyLogin))
            {
                <a href="Main?op=likegroup&retop=@ViewBag.ReturnOperation&login=@ViewBag.Login&group=@Model.Name&key=@ViewBag.SecKey">Like!<span>(+@Model.Author.Likes.Count)</span></a>
            }
            else
            {
                <div>(+@Model.Author.Likes.Count)</div>
            }
        </td>
    </tr>
    <tr>
        <td colspan="4" nowrap>
            @Model.GetDescription()           
        </td>
    </tr>
</table>