@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <table border="1">
        <tr>
            <td style="color:red">
                @ViewBag.ErrorMessage
            </td>
        </tr>
    </table>
}