@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Booben - Registration</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm("Next", "Registration", FormMethod.Post))
    {
        <center>
            <table class="st" style="width: 700px" cellpadding="1" cellspacing="0">
                <tr>
                    <td colspan="2">
                        Choose first robots for your profile
                    </td>
                </tr>
                @for (int i = 0; i < Model.Groups[0].Robots.Count; i++)
                {
                    <tr>
                        <td>
                             @Html.EditorFor(m => m.Groups[0].Robots[i].Author.IsActive)
                        </td>
                        <td>
                             @Html.HiddenFor(m => m.Groups[0].Robots[i].Name)
                             @Model.Groups[0].Robots[i].Name
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2" align="right">
                        @Html.HiddenFor(m => m.SecKey)

                        <input class="st" id="next" name="btn" style="width: 200px" type="submit" value="Next"
                               tabindex="1" />
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
