@using Booben.Models;
@model Booben.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Booben - Login</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <center>
            <table class="st" style="width: 700px" cellpadding="1" cellspacing="0">
                <tr>
                    <td colspan="2">
                        @Html.Partial("Error")
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        Fill your credentials
                    </td>
                    <td align="right">
                        <a href="../Registration">Registration</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Login
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Login)
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input class="st" id="login" name="btn" style="width: 200px" type="submit" value="Login"
                               tabindex="1" />
                    </td>
                </tr>
            </table>
        </center>
    }
</body>
</html>
